*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #4267B2;
    font: 200;
    color: aliceblue;
    line-height: 30px;
}


/* navbar */
header{
    width: 100%;
    background-color: #4267B2;
    margin-top: 10px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%;
}

.navbar ul{
    list-style: none;
    display: flex;
    height: 100%;
}

.navbar li{
    margin-left: 2rem;
}


.navbar a{
    text-decoration: none;
    color: white;
    margin: auto;
    height: 100%;
    align-items: center;
}

.navbar div a{
    text-align: center;
}

#introduction-paragraph{
    margin-top: 15px;
}

footer{
    margin-bottom: 20px;
}
/* utilities */

.btn{
     padding: 10px 20px;
    display: block;
    border-radius: 10px;
}

.btn:hover{
background-color: darkblue;
}

#intro{
    text-align: center;
    margin: 3rem auto;
    width: 80%;
}

#below{
    display: flex; 
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
}

#below div{
    flex: 1;
    padding: 2rem;
}

#below img{
 width: 100%;
}

.item{
padding: 1rem;
text-align: center;
width: 50%;
}

.items img {
    width: 70%;
    margin-top: 20px;
}
#description{
    border-radius: 5px;
    padding: 40px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    display: inline;
}



#contact{
    display: flex;
    flex-direction: column;
    font-size: 26px;
    padding-top: 56px;
    text-align: center;
    margin-left: 30px;
    align-items: center;
}

#contact h1{
    margin-bottom: 1.5rem;
}
span{
    color: black;
}

.form-input{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border-color: blue;
    border-radius: 10px;
}

#form{
    width: 100%
}

.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

#whatwedo{
    text-align: center;
    padding: 1.5rem 0;
}
.items{
    display: flex;
    margin-bottom: 1.5rem;
}

.icon{
    flex: 1;
    text-align: center;
    padding: 1
}

.icon i{
    background-color: darkblue;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.grid{
    display: grid;
    position: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 300px;
    width: 100vh;
    grid-template-columns: repeat(auto-fill,minmax(300px,300px));
    column-gap: 10px;
    row-gap: 10px;
    overflow-x: hidden;
    padding: 10px;
    border-radius: 20px;
}

/* .grid{
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
} */
    
            

.grid-image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
